In [3]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("/Users/thomassimmons/c/new/data/retail.db")

In [6]:
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)
print(tables)

          name
0     products
1       orders
2  order_items
3    customers

In [9]:
df = pd.read_sql("SELECT * FROM products;", conn)
print(df)

    product_id  product_name     category list_price
0         1001  Product 1001     clothing    $124,71
1         1002  Product 1002      grocery     $17.81
2         1003  Product 1003         Home    $211.50
3         1004  Product 1004         Home     $80.27
4         1005  Product 1005  Electronics       None
5         1006  Product 1006  Electronics    $277.36
6         1007  Product 1007      grocery    $331.65
7         1008  Product 1008  Electronics    $417.55
8         1009  Product 1009     Clothing    $305.74
9         1010  Product 1010         toys    $345.02
10        1011  Product 1011  electronics    $159.78
11        1012  Product 1012     Clothing    $199.63
12        1013  Product 1013         Home    $374.27
13        1014  Product 1014         Home     $26.42
14        1015  Product 1015         Toys    $299.16
15        1016  Product 1016  Electronics    $442.74
16        1017  Product 1017        Books    $477.05